
@{
    ViewBag.Title = "MUAF || Başvurular";
}

@using Muafiyet.Models
@using Muafiyet.App_Classes
    @model List<MuafiyetBasvurulari>

@section head{  
    <link href="~/Content/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />

<style>
    .hata {font-size:12px;}
     .mesaj {font-size:14px;}

       .t {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        overflow-wrap: break-word;
      }
</style>
}

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Başvuru Sil</h4>
            </div>
            <div class="modal-body">
                <p class="mesaj"></p>
                <p class="label label-danger hata"></p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">İptal</button>
                <button class="btn btn-danger basvuruSil" type="button"> Evet</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Muafiyet Başvuruları
                <hr />
                <a href="/Basvurular/Ekle"class="btn btn-primary btn-sm "><i class="icon-file"></i>  Yeni Başvuru</a>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" type="button"> <i class=" icon-filter"></i>  Filtre  <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("Süreci Devam Edenler", "Index", "Basvurular", new { filtreID = -1 }, null)</li>
                        <li>@Html.ActionLink("Tümü", "Index", "Basvurular", new { filtreID = 0 }, null)</li>
                    </ul>
                </div>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="table table-striped table-advance table-hover display" id="example">
                        <thead>
                            <tr>
                                <th>Numara</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Kayıt Şekli</th>
                                <th>Üniversite</th>
                                <th>Fakülte</th>
                                <th>Bölüm</th>                               
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MuafiyetBasvurulari bs in Model)
                            {
                                <tr>
                                    <td class="t" style="width:8%;">@bs.Kullanicilar.KullaniciOkulNo</td>
                                    <td class="t" style="width:10%;">@bs.Kullanicilar.KullaniciAdi</td>
                                    <td class="t" style="width:10%;">@bs.Kullanicilar.KullaniciSoyadi</td>
                                    @if (bs.KayitSekliID == 1)
                                    {
                                        <td  style="width:7%;">
                                            <span class="label label-info label-mini">Merkezi Yerleştirme</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:7%;">
                                            <span class="label label-primary label-mini">Dikey Geçiş</span>
                                        </td>
                                    }
                                    <td class="t" style="width:16%;">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bs.Universiteler.Universite.ToLower())</td>
                                    @{string fkl = "";}
                                    @foreach (Fakulteler ff in Data.Fakulte)
                                    {
                                        if (ff.FakulteID== bs.MuaIstFaktID)
                                        {
                                            fkl = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(ff.Fakulte.ToLower());
                                            break;
                                        }
                                    }                                  
                                    <td class="t" style="width:16%;">@fkl</td>
                                    @{ string blm = "";}
                                    @foreach (Bolumler bb in Data.Bolum)
                                    {
                                        if (bb.BolumID== bs.MuafIsBolumID)
                                        {
                                            blm = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bb.Bolum.ToLower());
                                            break;
                                        }
                                    }                                  
                                    <td class="t" style="width:16%;">@blm</td> 
                                    @if (@bs.Durum == "Tamamlandı")
                                    {
                                        <td style="width:7%;">
                                            <span class="label label-success label-mini">@bs.Durum</span>
                                        </td>
                                    }
                                    else if (@bs.Durum == "Değerlendiriliyor")
                                    {
                                        <td style="width:7%;">
                                            <span class="label label-warning label-mini">@bs.Durum</span>
                                        </td>
                                    }
                                    else if (@bs.Durum == "Ders Seçilmemiş")
                                    {
                                        <td style="width:7%;">
                                            <span class="label label-info label-mini">@bs.Durum</span>
                                        </td>
                                    }
                                    <td style="width:10%;">
                                        <a href="/Basvurular/KmsnRaporu/@bs.MuafBasvuruID" class="btn btn-default btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Komisyon Raporu"><i class="icon-print "></i></a>
                                        <a href="/DersSecimi/Index/@bs.MuafBasvuruID" class="btn btn-primary btn-xs tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Ders Seçimi"><i class="icon-book "></i></a>

                                        <span data-toggle="modal" data-target="#myModal2">
                                            <a class="btn btn-danger btn-xs tooltips modalSil" data-toggle="tooltip" data-placement="top" data-original-title="Sil" data-adi="@bs.Kullanicilar.KullaniciAdi" data-soyadi="@bs.Kullanicilar.KullaniciSoyadi" data-id="@bs.MuafBasvuruID" href="#myModal2"><i class="icon-trash "></i></a>
                                        </span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script src="~/Content/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script class="include" type="text/javascript" src="~/Content/js/jquery.dcjqaccordion.2.7.js"></script>


    <script type="text/javascript">
         

        $(".modalSil").click(function () {
            var adi = $(this).data("adi");
            var soyadi = $(this).data("soyadi");
           
            $(".modal-body>p.mesaj").html(adi +" "+ soyadi+" isimli öğrencinin başvurusu silinsin mi?");
            //Class ı .modal-body olan elemanın p lerden mesaj class lıya yaz
            $(".modal-body>p.hata").html("");
              var id = $(this).data("id");
              $(".basvuruSil").data("id", id);
              //Clası basvuruSil olan elemana data-id="id" yazdırıyor. Dinamik olarak.
              //Table daki sil butonuna tıklanınca modaldaki Evet butonuna ID aktarıyoruz.
          });

          $(".basvuruSil").click(function () {
              var id = $(this).data("id");
              $.ajax({
                  type: "POST",
                  url: "/Basvurular/Sil/" + id,
                  success: function (durum) {
                      if (durum == "başarılı") {
                          window.location.replace("/Basvurular/Index");
                      }
                      else if (durum == "hata") {
                          $(".modal-body>p.hata").html("Silme anında bir hata oluştu");
                      }
                      else if (durum == "silinemez") {
                          $(".modal-body>p.hata").html("Süreci tamamlanmış başvuru silinemez !");
                      }
                  }
              });
          });

          $(document).ready(function () {
              $('#example').dataTable({
                  "aaSorting": [[4, "desc"]],
                  iDisplayLength: 25
              });            
          });
    </script>
}